html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    position: relative;
}

.container {
    max-width: 943px;
    margin: 0 auto;
}

.menu {
    /* display: flex; */
    width: 100%;
    /* height: 100%; */
    justify-content: space-between;
    padding-top: 90px;
    position: absolute;
    transform: translateY(-120%);
    background-color: white;
    padding-bottom: 200px;
    transition: all .3s;
}

.m-link {
    margin-bottom: 68px;
}

.m-link a {
    font-size: 34px;
    color: #828282;
    text-decoration: none;
    font-weight: 700;
}

.m-link:nth-child(1) a{
    color: black;
}

.m-link:nth-child(5) {
    margin-bottom: 0px;
}

.m2 {
    display: flex;
    flex-direction: column;
}

.ru-eng1 {
    font-size: 34px;
    font-weight: 700;
    color: #828282;
    transform: rotate(90deg);
}

.x {
    width: 23px;
    height: 22px;
    /* margin-bottom: 533px; */
    padding-left: 252px;
    
}

nav {
    padding-left: 67px;
    /* width: 375px; */
}




header {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    border-bottom: 1px solid #828282;
    padding-bottom: 37px;
    margin-bottom: 30px;
    /* position: sticky; */
    top: 0;
}

.nav-link {
    font-size: 18px;
    color: #828282;
    text-decoration: none;
    font-weight: 700;
}

.nav-link:nth-child(1) {
    color: black;
}





.namee {
    padding-bottom: 104px;
    padding-top: 30px;
}

.name-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

h1 {
    color: black;
    font-size: 47.34px;
    line-height: 58.61px;
    font-weight: 700;
    margin: 0 auto;
}


.ru-eng {
    font-size: 16px;
    font-weight: 700;
    color: #828282;
    transform: rotate(-90deg) translate(-10px, 77px);
}

.e {
    color: black;
}

.Burger {
    background-image: url(images/burger.svg);
    height: 19px;
    width: 33px;
    display: none;
}
    






.about-me {
    background-color: #F6F6F6;
    padding-top: 115px;
    padding-bottom: 109px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-me-h {
    font-size: 34px;
    color: black;
    font-weight: 700;
    margin-bottom: 27px;
    text-align: center;
    margin-top: 25px;
}

.about-me-p {
    font-size: 23px;
    line-height: 27.83px;
    margin: 0 auto;
}

.s {
    display: block;
}

.about-me-p1 {
    margin-bottom: 43px;
}

.about-me-p2 {
    max-width: 494px;
    margin-bottom: 45px;
    /* padding-left: 223px; */
}

.about-me-p3 {
    max-width: 381px;
    /* padding-left: 294px; */
}









.skill {
    padding-bottom: 13px;
}

.skills-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 87px;
    margin-bottom: 89px 
}

.skills-h {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 64px;
}

.skills-p {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    line-height: 23px;
}

.skills-inc {
    display: flex;
    justify-content: space-between;
}

.Photoshop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
}

.Illustrator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.After-Effects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Figma {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
}

.sk-t1 {
    font-size: 14px;
    color: #828282;
    font-weight: 700;
    text-align: center;
    max-width: 70px;
    line-height: 17.33px;
    margin-bottom: 37px;
}

.sk-t2 {
    font-size: 14px;
    color: #828282;
    font-weight: 700;
    text-align: center;
    max-width: 70px;
    line-height: 17.33px;
    margin-bottom: 37px;
    margin-right: 62px;
}

.sk-t3 {
    font-size: 14px;
    color: #828282;
    font-weight: 700;
    text-align: center;
    line-height: 17.33px;
    margin-bottom: 37px;
}

.sk-t4 {
    font-size: 14px;
    color: #828282;
    font-weight: 700;
    text-align: center;
    max-width: 70px;
    line-height: 17.33px;
    margin-bottom: 55px;
}

.inc-img {
    margin-bottom: 21px;
}

.stars {
    display: flex;
}

.star {
    margin-right: 9px;
    padding-bottom: 20px;
}





.Portfolio {
    background-color: #F6F6F6;
    padding-bottom: 100px;

}


.Portfolio img {
max-width: 800px;
}


.p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-h {
    font-size: 30px;
    color: black;
    font-weight: 700;
    padding-top: 113px;
    margin-bottom: 60px;
}

.fashion-img {
    margin-bottom: 45px;
}

.fashion {
    font-size: 18px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    margin-bottom: 101px;
}

.reebok-img {
    margin-bottom: 45px;
}

.reebok {
    font-size: 18px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    margin-bottom: 104px;
}

.braun-img {
    margin-bottom: 45px;
}

.braun {
    font-size: 18px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}







.Contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 123px;
}

.c-container {
    margin: 0 auto;
    max-width: 345px;
}

.contacts-h {
    font-size: 34px;
    color: black;
    font-weight: 700;
    padding-top: 111px;
    margin-bottom: 29px;
    text-align: center;
}

.contacts-p1 {
    font-size: 18px;
    text-align: center;
    max-width: 275px;
    line-height: 21.83px;
    margin-bottom: 34px;
}

.contacts-b-a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.contacts-b {
    border: 0;
    background-color: black;
    padding: 10px 28px 10px 28px;
    border-radius: 28px;
    transition: all 0.2s ease-out;
    margin-bottom: 83px;
}

.contacts-b:hover {
    background-color: plum;
}

.sn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 42px;
}

.contacts-p2 {
    font-size: 14px;
    color: #828282;
    text-align: center;
    line-height: 17.83px;
}

li {
    list-style: none;
}

.active {
    transform: none;
}


.den {
    max-width: 943px;
}

.a1-1 {
    display: flex;
    justify-content:  space-around;
}


.bayan span {
    margin-right: 40%;
}

/* .bayan img {
} */

.non-active {
    width: 500px;
    /* height: 500px; */
    display: none;
}

.active {
    display: inline-block;
    width: 500px;
    height: 500px;
}


.aa1 {
    height: 200px;
}
.bayan li{
    list-style: disc;
}

.bayan h3 {
    background-color: brown;
    color: white;
}


.menu.active {
    max-width: 100%;
}

img.den {
    max-width: 100%;
}

#accordion {
    width: 100%;
}

.swiper {
      width: 100%;
height: 700px;
    }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #E6E6FA;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    height: 800px;
}

.swiper-slide img {
    display: block;
    width: 746px;
    margin: 0 auto;
    object-fit: cover;
}



.swiper_name {
    font-size: 47px;
    padding-top: 20px;
    padding-bottom: 20px;
      font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 594;
  font-style: italic;
  padding-left: 10px;
  padding-right: 10px;
}

.swiper-description {
    padding-bottom: 20px;
}

#map { height: 500px; }